<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML Review</title>
</head>
<body>
    <h1>FAANG Companies</h1>
    <div>
        <a href="https://www.google.com/about/careers/applications/" target="_blank">
        <img src="/images/google-logo.png" alt="google-logo" height="180px" width="320px"/> <br>
        GOOGLE </a>
    </div>

    <div>
        <a href="https://www.amazon.com/" target="_blank">
            <!--        <img src="/static/images/amazon-logo.png" alt="amazon-logo"/> <br>-->
            <img src="/images/amazon-logo.png" alt="amazon-logo"/> <br>
            AMAZON</a>
    </div>

    <div>
        <a href="https://www.apple.com/" target="_blank">Google
        <img src="/images/apple-logo.jpg" alt="apple-logo" height="250px" width="300px"/><br>
        APPLE</a>
    </div>

</body>
</html>