<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generic Form</title>
    <link rel="stylesheet" href="/static/css/genericForm.css">
</head>
<body>
    <div class="container">
        <h1>Get in touch</h1>
        <h6>Good choice</h6>

        <form>
            <input type="text" name="username" required placeholder="Enter your name please"/>
            <input type="email" name="email" required placeholder="A contact email"/>
            <input type="text" name="subject" required placeholder="About a new project"/>
            <input type="text" name="description" required placeholder="How can I help?"/>
            <button>Send Message</button>
        </form>
    </div>
</body>
</html>