<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <img src="/static/images/login.png"/>
        <h1>User Login</h1>
        <form class="inner-container">
            <input type="email" name="email" required placeholder="Email"/>
            <input type="text" name="username" required placeholder="UserName"/>
            <input type="password" name="password" required placeholder="Password"/>
            <button>LOGIN</button>
        </form>
        <h3>Forgot Password</h3>
    </div>

</body>
</html>