<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RESUME</title>
</head>
<body>
    <h1>Your Name</h1>
    <address> City, State </address>

    <h4>Summary</h4>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

    <hr>
    <h2>Education</h2>
    <h4>Bachelor's Degree</h4>
    <p>Coursework</p>
    <hr>
    <h2>Skills</h2>
    <ul>
        <li>Java</li>
        <li>JavaScript</li>
        <li>Python</li>
        <li>HTML</li>
        <li>CSS</li>
    </ul>
    <hr>

    <h2>Work Experience</h2>
    <h4>Company Name</h4>
    <ul>
        <li>Details</li>
        <li>Details</li>
        <li>Details</li>
    </ul>

    <hr>
    <h2>Extracurricular Activities</h2>
    <ul>
        <li>Activity 1</li>
        <li>Activity 2</li>
        <li>Activity 3</li>
    </ul>

</body>
</html>